body, html {
  height: 100%;
  margin: 0;
  font-family: Lucida Console, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.openinghours {
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 0 10px black;
  padding: 20px 30px;
  background: white;
  width: 90vw;
  max-width: 600px;
}

.openinghourscontent h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.opening-hours-table {
  width: 100%;
  border-collapse: collapse;
}

.opening-hours-table tr td {
  padding: 8px 10px;
}

.opening-hours-table tr td:first-child {
  font-weight: normal;
  font-size: 1rem;
}

.today td {
  font-weight: bold;
  font-size: 1.25rem;
}

#open-status {
  display: block;
  margin: 15px auto 20px auto;
  text-align: center;
  border: dotted lightgrey 3px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
  border-radius: 6px;
  background-color: #fafafa;
}

.open {
  color: green;
}

.closed {
  color: red;
}
